body{
    font: 1em sans-serif;
}
h1{
    
    border: brown;
    background-color: aqua;
    color: #000;

}
header{
background-color: aquamarine;
color: blue;
box-sizing: border-box;
border-color: black;
padding: auto;

}
main{
background-color: yellowgreen;
color:purple;
box-sizing: border-box;
border-color: black;
padding: auto;

}

header+h2{
    color: black;
}

.k{
    color: #000;
background-color: cadetblue;
}

